<a href="{{ item.url }}" title="{{ item.title }}" class="social-icon-{{ item.kind }}" target="_blank"{% if item.analyticsTrackCode %} onclick="{{ item.analyticsTrackCode }}"{% endif %}>
    <i class="fa fa-globe"></i>
</a>
